# =====================
# Global
# =====================
.DS_Store
Thumbs.db
.env
.env.local
*.log
node_modules/

# IDEs & Editor folders
.vscode/
.idea/
.history/

# =====================
# Frontend (Next.js)
# =====================
front/.next/
front/node_modules/
front/out/

# Ignore package-lock from accidental npm usage
front/package-lock.json

# =====================
# Backend (Strapi)
# =====================
back/.cache/
back/build/
back/node_modules/
back/public/uploads/

# Ignore package-lock from accidental npm usage
back/package-lock.json
