.markdown p {
  line-height: 1.5;
}

.markdown h1 {
  font-size: 60px;
  line-height: 1.2;
}

.markdown h2 {
  font-size: 40px;
  line-height: 1.2;
}

.markdown h3 {
  font-size: 30px;
  line-height: 1.2;
} 